# Introduction to Data Modeling

In [1]:
# CRUD
# Create --> Data Insert, New table
# Read --> Table it should be well structured with normalization (3NF) (Join) (Fast)
# Update --> Tabel Schema (Add, Remove column) , Record update
# User (Id, Name, ...) Order(Id, Product, ..., U_Name)
# Delete --> Record delete

# Three Level of DM
1) Conceptual Model --> entity(Table name) and it's relation
2) Logical Model    --> fields, keys
3) Physical Model   --> SQL query

# Online BookStore

# Conceptual Model
Entites: [Book, Author, Customer]
Relationship: [Author write a book, Customer buy book]

# Logial Model
Book(id, title, author_id)
Author(id, name)
Customer(id, name, email)

# Physical Model
CREATE TABLE CMD ....

# Conceptual Data Model

# CDM (High level representation of the data and it's relation)
# Key Component
- entity
- relationship

Q.
- Online Shopping System
- Online Food Delivery System

# Logial Data Model

# LDM (developer add more detailed information like fields name and keys)
# key component
- entity
- attributes(column)
- pk
- fk
- relationship (it's same ad pk & fk)

# This is the face where our ER diagran is created

# Physical Data Model

# We define the table cmd based of the database and provide all the constraints

CREATE TABLE BOOK (
    ID SERIAL PRIMARY KEY,
    TITLE VARCHAR(200) NOT NULL,
    AUTHOR_ID VARCHAR(100) UNIQUE
);

# Normalization
SQL: Normalization Table


NoSQL: D-Normalization Table

No Normalization Table
# 0 - NF
ORDER

ID   Customer_Name  Products
1    Mohit          Book,Pen,Paper,Rubber

SELECT * FROM ORDER WHERE Products ILIKE '%Rubber%'; -- slow

# 1 - NF
ID   Customer_Name  Product
1    Mohit          Book
1    Mohit          Pen
1    Mohit          Paper
1    Mohit          Rubber

select * from ORDER WHERE Product = 'Rubber'; - fast

In [3]:
# Normalization VS DNormalization
# Normalization - Update is easy & No Duplicate Record & Easy To Delete, Slow in query(More Join)
# DNormalization - Fast (No Joins, Less Join), Duplicate Records, Update is difficuly becasue of duplicate data

# Normalization Table
0 - NF (Unnormalized form)

EmpNo    Name     Projects    Salary
1        Mohit    P1, P2      50000
2        Jhon     P1          40000
3        Alice    P2,P3,P4    80000

Problems: 
1: Projects field is not atomic value (insert, query, update, delete)
3: Redudency of Project name as it's stored as plain text

1 - NF (First normalized form)
Rule: All Column should have atomic value (single value)

EmpNo    Name     Projects    Salary
1        Mohit    P1          50000
1        Mohit    P2          50000
2        Jhon     P1          40000
3        Alice    P2          80000
3        Alice    P3          80000
3        Alice    P4          80000

CREATE TABLE Employee_Projects(
    EmpNo INT,
    Name String,
    Project String
    Salary NUMERIC
);

2 - NF (Second normalized form)

Rule: 1NF + Column that making the data duplicate extrct it from the table to another table
# Non-Prime attr must depedne ton the primary key not just part of it.

Employee Table:
EmpNo    Name           Salary
1        Mohit           50000
2        Jhon            40000
3        Alice           80000

EmployeeProjects Table:
EmpNo    Project Name
1        Web design
1        Mobile App
2        Web design
3        Web design
3        Data Analyst
3        Ai Model

CREATE TABLE Employee(
    EmpNo SERIAL PRIMARY KEY,
    Name String,
    Salary NUMERIC
);

CREATE TABLE Employee_Projects(
    EmpNo INT REFFERENCES Employee(EmpNo),
    Project_Name String
);

# 3 - NF (Third normalized form)

# Rule: 2 NF + Key should not map with non key column

Employee Table:
EmpNo    Name           Salary
1        Mohit           50000
2        Jhon            40000
3        Alice           80000
4        Karan           40000

Project
ID      Project_Name
1       Web Design
2       Mobile App
3       Data Analyst
4       AI Model
5       ML

EmployeeProjects Table:
EmpNo    Project_ID
1        1
1        2
2        1
3        1
3        3
3        4
3        5

CREATE TABLE Employee(
    EmpNo SERIAL PRIMARY KEY,
    Name String,
    Salary NUMERIC
);

CREATE TABLE Project(
    ID SERIAL PRIMARY KEY,
    Project_Name String,
);

CREATE TABLE Employee_Projects(
    EmpNo INT REFERENCES Employee(EmpNo),
    Project_Id INT REFERENCES Project(ID)
);

# BCNF - 4NF - 5 NF - DKNF